
html, body {
    height: 100%;
    overflow: hidden;
}

.nickname {
    color: blue;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.user-container {
    float: right;
    margin-right: 5px;
}

#chat-container {
    position: relative;
    height: 100%;
}

#chat-container #messageForm {
    padding: 10px;
}

#chat-container {
    border: 2px solid #d5dbdb;
    background-color: #d5dbdb;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    height: calc(100% - 70px);
    max-height: 650px;
    position: relative;

}

#chat-container ul {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 10px 0px 10px;
    height: calc(100% - 150px);
}

#chat-container #messageForm {
    padding: 10px;
}

#chat-container ul li {
    line-height: 1.5rem;
    padding: 10px 10px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-container ul li p {
    margin: 0;
}

#chat-container .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

.online {
    color: green;
    font-weight: bold;
}

#chat-container .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-container .chat-message {
    position: relative;
}

#messageForm .input-message {
    float: left;
    width: calc(100% - 85px);
}

.connecting {
    text-align: center;
    color: #777;
    width: 100%;
}