<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Чат</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/webjars-requirejs.js"></script>

</head>
<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Выход</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>

        </div>
        <h3>Активные пользователи:</h3>
        <div id="elem" class="online">
        </div>
    </div>

    <hr/>

    <div id="connecting">Соединение...</div>
    <ul id="messageArea">
        <li th:each="message : ${messages}" class="chat-message">
            <strong class="nickname">[[${message.sender}]]</strong>
            <span>[[${message.content}]]</span>
        </li>
    </ul>

    <form id="messageForm" name="messageForm" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Напишите сообщение..." class="form-control"/>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Послать сообщение</button>
    </form>
</div>

<script th:src="@{/js/ws.js}"></script>

</body>
</html>